# Rust
/target/
**/*.rs.bk
Cargo.lock.back

# cargo-fuzz
fuzz/target/
fuzz/Cargo.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Rust metadata
**/.rustc_info.json
**/.cargo-lock
**/CACHE_DIR.TAG

# Misc
*.pyc

# Proptest regressions
**/proptest-regressions/
